.todo-block {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.todo-block .todo-list {
  flex:6;
  border-right: 0;
  padding: 0 1em;
}


.todo-block .done-list {
  flex:4;
  padding: 0 1em;
  font-size: 1em;
}

.top-bar {
  width: 100%;
  height: 40px;
  background: #ddd;
}


@media (min-width: 400px) {
  .todo-block .done-list {
    font-size: 0.9em;
  }

}

@media (min-width: 600px) {
  .todo-block {
    width: 90%;

  }
}

@media (min-width: 800px) {
  .todo-block {
    width: 75%;

  }
}


@media (min-width: 1200px) {
  .todo-block {
    width: 90%;
    flex-direction: row;
  }
  .todo-block .todo-list {
    border-right: 1px solid #ddd;
  }
}



