<div>
  <div class="top-bar">
    
  </div>
  <app-add-task></app-add-task>

  <div class="todo-block">
    <div class="todo-list">
      <app-todo-task></app-todo-task>
    </div>

    <div class="done-list">
      <app-done-task></app-done-task>
    </div>

  </div>

</div>
