.title {
  font-size: 1.2em;
  color: #333;
  padding: 1em 0;
  font-weight: 400;
}

.title span {
  font-size: .8em;
  color: #999;

}

.ul-tasks {
  list-style: none;
  padding: 0;
  margin-left: 0em;
}

li.task-item  {
  padding: 0.15em 0.5em;
  font-size: 0.8em;
  width: 100%;
  display: flex;
  flex-direction: column;

  position: relative;
  z-index: 1;

}

li.task-item::before  {
  content: '';
  position: absolute;
  top:0; left:0;right:0;bottom:0;
  box-shadow: 0 0 4px 1px #ddd;
  opacity: 0;
  transition: opacity 0.2s;
  z-index: -1;
}
li.task-item:hover::before  {
  opacity: 1;
}


.cdk-drag-preview {
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 0 10px 2px #ddd;
  border:0;
  background: #fff;
}


.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}


.ul-tasks.cdk-drop-list-dragging li:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}



li.task-item .main-info {
  display: flex;
  align-items: center;
}

 li.task-item .other-info {
  display: flex;
  visibility: collapse;
  padding: 0 0 0.5em 0;
  color:#999;
  font-size: 0.85em;
}


.hash-task-name {
  font-size: 1.2em;
  color: #444;
  margin-right: 5px;
  opacity: 0.5;
  cursor: move;
}

.task-name {
  font-size: 1.2em;
  color: #777;
  width: 100%;
  padding: 0.3em 0;
  cursor: pointer;
}

.remove-btn {
  font-size: 0.9em;
  color: #ddd;
  border: 0;
  background: none;
  cursor: pointer;
  padding: 0.5em;
  margin-right: 0.5em;
}

.done-btn {
  font-size: 1.2em;
  color: #008b76;
  border: 0;
  background: none;
  cursor: pointer;
  padding: 0.5em;
  transition: transform 0.2s;
}

.done-btn:hover {
  transform: scale(1.5);
}
.no-task {
  margin-left: 1em;
  opacity: 0.6;
}





@media (min-width: 400px) {
   li.task-item  {
    font-size: 1em;
  }
  li.task-item .other-info {
    padding: 0 0 0.5em 2em;
  }
}


@media (min-width: 600px) {
  .ul-tasks {
    margin-left: 1em;
  }
}
