<div class="title">TODO <span>({{taskList.length}})</span></div>
<ng-container *ngIf="taskList.length > 0; else noTasks">
<ul cdkDropList (cdkDropListDropped)="drop($event)" class="ul-tasks">
  <li class="task-item" *ngFor="let task of taskList; let i = index" cdkDrag>
    <div class="main-info">
      <span class="hash-task-name" >#{{i + 1}}</span>
      <span class="task-name" (click)="showTaskInfo(i)">{{task.name}}</span>
      <button class="remove-btn" (click)="removeTask(task)"><i class="fas fa-trash-alt"></i></button>
      <button class="done-btn" (click)="taskDone(task)"><i class="fas fa-check"></i></button>
      </div>
    <div class="other-info" id='task-{{i}}'>
      <span>Created: {{ task.created | date:'medium' }}</span>
    </div>
  </li>
</ul>
</ng-container>
<ng-template #noTasks>
  <span class="no-task">No tasks</span>
</ng-template>

