.add-task {
  width: 100%;
  /* background: #d23dd2; */
  display: flex;
  justify-content: center;
  background: #f5f5f5;

}
.add-task .form {
  padding: 3em 1em;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 600px;
  flex-direction: column;
}

/* .add-task .form .hash-mark {
  padding: 0.2em 0.5em;
  font-size: 1.2em;
  color: #000;
  font-size: 2em;
  font-weight: bold;
  opacity: 0.6;
} */

.add-task .form input {
  border: 2px solid rgba(0,0,0,0.2);
  border-radius: 4px;
  padding: 0.5em 0.6em;
  font-size: 1.2em;
  box-shadow: 0 0 0.1em 0.1em rgba(0,0,0,0.1);
  color: #333;
  width: 100%;
  min-width:100px;
}
.add-task .form input::placeholder {
  color:#000;
  opacity: 0.4;
}
.add-task .form input:focus {
  box-shadow: 0 0 0.3em 0.1em rgba(0,0,0,0.2);

}


.add-task .form button {
  border: 0;
  border-radius: 4px;
  padding: 0.6em 1em;
  font-size: 1.2em;
  background: #845ec2;
  color: #fff;
  margin-top:1em;
  margin-left: 0em;
  cursor: pointer;
  font-weight: 400;
  width: 100%;

}

.add-task .form button:hover {
  box-shadow: 0 0 0.4em 0.1em rgba(0,0,0,0.2);
}

.add-task .form button:active {
  box-shadow: inset 0 0 0.5em 0.1em rgba(0,0,0,0.2), 0 0 0.3em 0.1em rgba(0,0,0,0.2);
}

@media (min-width: 400px) {
  .add-task .form button {
    width: 7em;
  }
}

@media (min-width: 600px) {
  .add-task .form {
    max-width: 600px;
  }

  .add-task .form {
    flex-direction: row;
  }
  .add-task .form button {
    width: initial;
    margin-top:0em;
    margin-left: 1em;
  }


}
