<div class="add-task">
  <div class="form">
    <!-- <span class="hash-mark">#</span> -->
    <input [(ngModel)]="newTask" class="type-task" placeholder="#TODO" />
    <button (click)="addTask()">Add</button>
  </div>
</div>
