<div class="title">DONE <span>({{doneList.length}})</span></div>
<ul class="ul-tasks">
    <li *ngFor="let task of doneList; let i = index">
      <div class="main-info">
        <span class="hash-task-name" >#</span>
        <span class="task-name" (click)="showTaskInfo(i)">{{task.name}}</span>
        <button class="remove-btn" (click)="removeTaskDone(task)"><i class="fas fa-trash-alt"></i></button>
        <button class="undo-btn" (click)="undoTask(task)"><i class="fas fa-undo"></i></button>
      </div>
      <div class="other-info" id='taskDone-{{i}}'>
          <span>Created: {{ task.created | date:'medium' }}</span>
          <span>&nbsp; Done: {{ task.end | date:'medium' }}</span>
        </div>
  </li>
</ul>
