.title {
  font-size: 1.2em;
  color: #333;
  padding: 1em 0;
  font-weight: 400;
}

.title span {
  font-size: .8em;
  color: #999;

}

.ul-tasks {
  list-style: none;
  padding: 0;
  margin-left: 0em;
}

.ul-tasks li  {
  padding: 0.15em 0.5em;
  font-size: 0.8em;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0.5em 0;
  position: relative;
  z-index: 1;
}

.ul-tasks li::before  {
  content: '';
  position: absolute;
  top:0; left:0;right:0;bottom:0;
  box-shadow: 0 0 4px 1px #ddd;
  opacity: 0;
  transition: opacity 0.2s;
  z-index: -1;
}
.ul-tasks li:hover::before  {
  opacity: 1;
}



.ul-tasks li .main-info {
  display: flex;
  align-items: center;
}

.ul-tasks li .other-info {
  display: flex;
  visibility: collapse;
  padding: 0 0 0.5em 0;
  color:#999;
  font-size: 0.9em;
}


.hash-task-name {
  font-size: 1.2em;
  color: #444;
  margin-right: 5px;
  opacity: 0.5;
}

.task-name {
  font-size: 1.2em;
  color: #777;
  width: 100%;
  padding: 0.4em 0;
  cursor: pointer;
}


.remove-btn {
  font-size: 0.9em;
  color: #ddd;
  border: 0;
  background: none;
  cursor: pointer;
  padding: 0.5em;
  margin-right: 0.5em;
}

.undo-btn {
  font-size: 1.2em;
  color: #f09b00;
  border: 0;
  background: none;
  cursor: pointer;
  padding: 0.5em;
  transition: transform 0.3s;
}

.undo-btn:hover {
  transform: rotate(-360deg);
}

@media (min-width: 400px) {
  .ul-tasks li  {
    font-size: 1em;
  }
  .undo-btn {
    font-size: 0.9em;
  }
  .ul-tasks li .other-info {
    padding: 0 0 0.5em 2em;
  }
}


@media (min-width: 600px) {
  .ul-tasks {
    margin-left: 1em;
  }
}
