/* @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600'); */
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700&display=swap&subset=latin-ext');
* {
  margin: 0;
  box-sizing: border-box;
  /* font-family: 'Open Sans', sans-serif; */
  font-family: 'Roboto', sans-serif;
	font-weight:300;
}
